name: Build, Test, and Publish

on:
  push:
    branches: [main]
    tags: ['v*']
  pull_request:
    branches: [main]

jobs:
  test-build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18, 20, 22, 24]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: "yarn"
    - run: yarn
    - name: Lint
      working-directory: streamlit-component-lib-react-hooks
      run: |
        yarn run check:eslint
        yarn run check:prettier
    # - run: npm test
    #   working-directory: streamlit-component-lib-react-hooks
    - name: Build lib
      run: yarn run build
      working-directory: streamlit-component-lib-react-hooks
    - name: Test building the template
      run: yarn run build
      working-directory: template/my_component/frontend

    - name: Package lib
      working-directory: streamlit-component-lib-react-hooks
      run: yarn pack

    - name: Upload the built tar ball as an artifact
      uses: actions/upload-artifact@v4
      if: ${{ matrix.node-version == '20' && ! startsWith(github.ref, 'refs/tags/v') }}
      with:
        path: streamlit-component-lib-react-hooks/streamlit-component-lib-react-hooks-v*.tgz
        name: streamlit-component-lib-react-hooks-${{ github.sha }}.tgz

    - name: Upload the built tar ball as an artifact (when pushed with a version tag)
      uses: actions/upload-artifact@v4
      if: ${{ matrix.node-version == '20' && startsWith(github.ref, 'refs/tags/v') }}
      with:
        path: streamlit-component-lib-react-hooks/streamlit-component-lib-react-hooks-v*.tgz
        name: streamlit-component-lib-react-hooks-${{ github.ref_name }}.tgz

  publish:
    if: ${{ !failure() && startsWith(github.ref, 'refs/tags/v') }}  # `!failure()` is necessary to avoid skipping this job after successful build: https://github.com/actions/runner/issues/491
    needs: [test-build]

    permissions:
      contents: write  # Necessary for creating releases: https://github.com/softprops/action-gh-release#permissions

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: 22
        cache: "yarn"
        registry-url: https://registry.npmjs.org/

    - uses: actions/download-artifact@v4
      with:
        name: streamlit-component-lib-react-hooks-${{ github.ref_name }}.tgz
        path: streamlit-component-lib-react-hooks

    - run: yarn publish streamlit-component-lib-react-hooks-v*.tgz --access public
      env:
        NODE_AUTH_TOKEN: ${{secrets.npm_token}}
      working-directory: streamlit-component-lib-react-hooks

    - name: Create a new release
      uses: softprops/action-gh-release@v1
      with:
        files: streamlit-component-lib-react-hooks/streamlit-component-lib-react-hooks-v*.tgz
        generate_release_notes: true
